<!doctype html>
<html>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="../js/d3.layout.cloud.js"></script>
<script type="text/javascript" src="../js/async.min.js"></script>
<head>
  <title>Contact Center Analytics</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="../js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700' rel='stylesheet' type='text/css'>
  <script src="../js/jqcloud.min.js"></script>
  <link rel="stylesheet" href="../css/jqcloud.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css"></style>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://havenondemand.com"><img alt="Brand" src="../img/hod-black.png" height="20"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">View all calls</a></li>
      <li><a href="/callcenter">Make a call</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
    </ul> -->
  </div>
</nav>

<section id='content'>
  <div class="row">
    <div class="col-xs-12">
      <h1>Call by <%= call['From'] %> to <%= call['To'] %> on <%= call['created'].getMonth()+1 %>/<%= call['created'].getDate()%>/<%= call['created'].getFullYear() %> at <%= call['created'].getHours() %>:<%= call['created'].getSeconds() %></h1>
    </div>
  </div>
  <div class="row">
    <!-- Left side -->
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <h2>Call content</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <p class="transcription-text" id="transcription-text"><%= call['TranscriptionText'] %></p>
            <audio controls>
              <source src=<%= call['RecordingUrl'] %> type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <p class="confidence">Transcription confidence: <%= Math.floor(call['confidence']) %>%</p>
            <p class="overall-sentiment-sentiment">Overall sentiment: <%= call['sentiments']['aggregate']['sentiment']  %></p>
            <p class="overall-sentiment-score">Overall sentiment score: <%= call['sentiments']['aggregate']['score']  %></p>
            <p class="language">Language: <%= language %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End left side -->
    <!-- Right side -->
    <div class="col-xs-6">
      <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
        <li class="active"><a href="#concepts" data-toggle="tab">Concepts</a></li>
        <li><a href="#sentiments" data-toggle="tab">Sentiments</a></li>
        <li><a href="#entities" data-toggle="tab">Entites</a></li>
      </ul>
      <!-- Tab content -->
      <div id="my-tab-content" class="tab-content">
        <!-- Entities  -->
        <div class="tab-pane active" id="concepts">
          <h4>Concepts</h4>
          <div class="col-xs-12">
            <div class="row">
              <div id="concepts-wordcloud"></div>
            </div>
          </div>
          <% if(call['concepts']['concepts'].length > 0) { %>
              <div class="row">
                <div class="col-xs-12">
                  <table class="table" id="concepts-table">
                    <thead>
                      <tr>
                        <th>Concept</th>
                        <th>Occurrences</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i=0; i<call['concepts']['concepts'].length; i++) { %>
                        <tr>
                          <td><%= call['concepts']['concepts'][i]['concept'] %></td>
                          <td><%= call['concepts']['concepts'][i]['occurrences'] %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
          <% } else { %>
            <p>No concepts</p>
          <% } %>
        </div>
        <div class="tab-pane" id="sentiments">
          <div class="row">
            <div class="col-xs-12">
              <div class="sentiments-wordcloud">

              </div>
            </div>
          </div>
          <!-- Aggregate -->
          <div class="row">
            <div class="col-xs-12">
              <h4>Aggregate</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <table class="table">
                  <thead>
                    <tr>
                      <th>Score</th>
                      <th>Sentiment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= call['sentiments']['aggregate']['score'] %></td>
                      <td><%= call['sentiments']['aggregate']['sentiment'] %></td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <!-- /Aggregate -->
          <!-- Positive -->
          <div class="row">
            <div class="col-xs-12">
              <h4>Positive</h4>
            </div>
          </div>
          <% if (call['sentiments']['positive'].length > 0) { %>
            <div class="row">
              <div class="col-xs-12">
                <table class="table" id="sentiments-table-positive">
                  <thead>
                    <tr>
                      <th>Topic</th>
                      <th>Sentiment</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i=0; i<call['sentiments']['positive'].length; i++) { %>
                      <tr>
                        <td><%= call['sentiments']['positive'][i]['topic'] %></td>
                        <td><%= call['sentiments']['positive'][i]['sentiment'] %></td>
                        <td><%= call['sentiments']['positive'][i]['score'] %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          <% } else { %>
            <p>No positive sentiments</p>
          <% } %>
          <!--  -->
          <!-- /Positive -->
          <!-- Negative -->
          <div class="row">
            <div class="col-xs-12">
              <h4>Negative</h4>
            </div>
          </div>
          <% if (call['sentiments']['negative'].length > 0) { %>
            <div class="row">
              <div class="col-xs-12">
                <table class="table" id="sentiments-table-negative">
                  <thead>
                    <tr>
                      <th>Topic</th>
                      <th>Sentiment</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i=0; i<call['sentiments']['negative'].length; i++) { %>
                      <tr>
                        <td><%= call['sentiments']['negative'][i]['topic'] %></td>
                        <td><%= call['sentiments']['negative'][i]['sentiment'] %></td>
                        <td><%= call['sentiments']['negative'][i]['score'] %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          <% } else { %>
            <p>No negative sentiments</p>
          <% } %>
          <!-- /Negative -->
        </div>
        <!-- Entities -->
        <div class="tab-pane" id="entities">
          <h4>Entities</h4>
          <% if(call['entities']['entities'].length > 0) { %>
              <div class="row">
                <div class="col-xs-12">
                  <table class="table" id="entities-table">
                    <thead>
                      <tr>
                        <th>Entity</th>
                        <th>Type</th>
                        <th>Additional Information</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i=0; i<call['entities']['entities'].length; i++) { %>
                        <% var entity = call['entities']['entities'][i] %>
                        <tr>
                          <td><%= entity['normalized_text'] %></td>
                          <td><%= entity['type'] %></td>
                          <!-- Additional Information -->
                          <td>
                            <div class="row">
                              <div class="col-xs-12">
                                <table class="table" id="<%= entity['normalized_text'] %>-table">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% var additional_information = entity['additional_information'] %>
                                    <% for (var key in additional_information) { %>
                                      <tr>
                                        <td><%= key %></td>
                                        <% if (typeof(additional_information[key]) == 'array') { %>
                                          <ul>
                                          <% for (var j=0; j<additional_information[key].length; j++) { %>
                                            <li><%= additional_information[key][j] %></li>
                                          <% } %>
                                          </ul>
                                        <% } else { %>
                                          <td><%= additional_information[key] %></td>
                                        <% } %>
                                      </tr>
                                    <% } %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </td>
                          <!-- End Additional INformation -->
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
          <% } else { %>
            <p>No entites</p>
          <% } %>
        </div>
      </div>
    </div>
    <!-- End Entities  -->
    <!-- End Tab content -->
    </div>
    <!-- End right side -->
  </div>
</section>

<script type="text/javascript">

    $(document).ready(function ($) {
        $('#tabs').tab();
    });

    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });

    $(window).load(function() {
      var width = $( window ).width()/2;
      var height = $( window ).height()/2;
      var fontConstant=14;
      var counter = 0;
      var frequencyList = [];
      var conceptsRows = document.getElementById("concepts-table").rows;
      async.each(conceptsRows, function(row, c) {
        if (counter > 0) {
          var text = row.children[0].innerText;
          var size = row.children[1].innerText;
          // frequencyList.push({"text": text, "size": size});
          // data-toggle='popover' data-original-title='Sentiments' data-trigger='hover' rel='popover' data-content
          frequencyList.push({"text": text, "weight": size, "html": {"data-toggle": "popover", "data-original-title": "Weight", "data-trigger": "hover", "rel": "popover", "data-content": size}});
        }
        counter += 1;
        if (counter >= conceptsRows.length) {
          // generateWordCloud(frequencyList);
          $('#concepts-wordcloud').jQCloud(frequencyList, {
            autoResize: true,
            width: width,
            height: 200
          });
        }
      }, function(err) {

      })

      // var newText = '';
      var transcriptionText = document.getElementById('transcription-text');

      var text = transcriptionText.innerHTML;
      var textArray = text.split(' ');
      var sentimentsPositiveRowsElement = document.getElementById("sentiments-table-positive")
      if (sentimentsPositiveRowsElement) { // if there are positive sentiments
        var sentimentsPositiveRows = sentimentsPositiveRowsElement.rows;
      } else { //if there are no positive sentiments
        var sentimentsPositiveRows = [];
      }
      var sentimentsInfo = [];
      for (var i=0; i<sentimentsPositiveRows.length; i++) {
        if (i > 0) {
          var topic = sentimentsPositiveRows[i].children[0].innerText;
          var sentiment = sentimentsPositiveRows[i].children[1].innerText;
          var score = sentimentsPositiveRows[i].children[2].innerText;
          var index = text.indexOf(topic);
          if (index != -1) { // included
            var newText = ''
            for (var j=index; j<index+topic.length; j++) {
              newText += text[j];
            }
            sentimentsInfo.push({text: newText, sentiment: sentiment, score: score, index: index});
          }
        }
      }

      var sentimentsNegativeRowsElement = document.getElementById("sentiments-table-negative")
      if (sentimentsNegativeRowsElement) { // if there are positive sentiments
        var sentimentsNegativeRows = sentimentsNegativeRowsElement.rows;
      } else { //if there are no positive sentiments
        var sentimentsNegativeRows = [];
      }
      for (var i=0; i<sentimentsNegativeRows.length; i++) {
        if (i > 0) {
          var topic = sentimentsNegativeRows[i].children[0].innerText;
          var sentiment = sentimentsNegativeRows[i].children[1].innerText;
          var score = sentimentsNegativeRows[i].children[2].innerText;
          var index = text.indexOf(topic);
          if (index != -1) { // included
            var newText = ''
            for (var j=index; j<index+topic.length; j++) {
              newText += text[j];
            }
            sentimentsInfo.push({text: newText, sentiment: sentiment, score: score, index: index});
          }
        }
      }
      console.log(sentimentsInfo);

      newColoredText = '';
      var i = 0;
      while (i<text.length) {
        var found = false

          for (var j=0; j<sentimentsInfo.length; j++) { // loop through the sentiments  info array
            if (!found) {
              if (i == sentimentsInfo[j].index) { // if it's the word we want
                found = true
                if (sentimentsInfo[j].score > 0) {
                  newColoredText += "<span style='color: green' id='popoverData' data-toggle='popover' data-original-title='Sentiments' data-trigger='hover' rel='popover' data-content='sentiment: "+sentimentsInfo[j].sentiment+" | score: "+sentimentsInfo[j].score+"'>"+ sentimentsInfo[j].text+"</span> "
                } else if (sentimentsInfo[j].score < 0) {
                  newColoredText += "<span style='color: red' id='popoverData' data-toggle='popover' data-original-title='Sentiments' data-trigger='hover' rel='popover' data-content='sentiment: "+sentimentsInfo[j].sentiment+" | score: "+sentimentsInfo[j].score+"'>"+ sentimentsInfo[j].text+"</span> "
                }
                i+=sentimentsInfo[j].text.length
              }
            }
          }
          if (!found) {
            newColoredText += text[i]
           }
        i += 1;
      }
      console.log(newColoredText)
      transcriptionText.innerHTML = newColoredText;

      $('[data-toggle="popover"]').popover()

      setTimeout(function() {
        $('[data-toggle="popover"]').popover()
      }, 1000);

      })

</script>
</body>
