<!doctype html>
<html>
<head>
  <title>Twilio Call Center</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="../js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/main.css"></style>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://havenondemand.com"><img alt="Brand" src="../img/hod-black.png" height="20"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">View all calls</a></li>
      <li><a href="/callcenter">Make a call</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
    </ul> -->
  </div>
</nav>

<div class="row">
  <div class="col-xs-12">
    <h2>Call by <%= call['From'] %> to <%= call['To'] %> on <%= call['created'].getMonth()+1 %>/<%= call['created'].getDate()%>/<%= call['created'].getFullYear() %> at <%= call['created'].getHours() %>:<%= call['created'].getSeconds() %></h2>
  </div>
</div>
<div class="row">
  <!-- Left side -->
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <h2>Call content</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <p class="transcription-text"><%= call['TranscriptionText'] %></p>
          <audio controls>
            <source src=<%= call['RecordingUrl']+".mp3" %> type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </div>
  <!-- End left side -->
  <!-- Right side -->
  <div class="col-xs-6">
    <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
      <li class="active"><a href="#sentiments" data-toggle="tab">Sentiments</a></li>
      <li><a href="#concepts" data-toggle="tab">Concepts</a></li>
    </ul>
    <!-- Tab content -->
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="sentiments">
        <!-- Aggregate -->
        <div class="row">
          <div class="col-xs-12">
            <h4>Aggregate</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <table class="table">
                <thead>
                  <tr>
                    <th>Score</th>
                    <th>Sentiment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= call['sentiments']['aggregate']['score'] %></td>
                    <td><%= call['sentiments']['aggregate']['sentiment'] %></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <!-- /Aggregate -->
        <!-- Positive -->
        <div class="row">
          <div class="col-xs-12">
            <h4>Positive</h4>
          </div>
        </div>
        <% if (call['sentiments']['positive'].length > 0) { %>
          <div class="row">
            <div class="col-xs-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Topic</th>
                    <th>Sentiment</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i<call['sentiments']['positive'].length; i++) { %>
                    <tr>
                      <td><%= call['sentiments']['positive'][i]['topic'] %></td>
                      <td><%= call['sentiments']['positive'][i]['sentiment'] %></td>
                      <td><%= call['sentiments']['positive'][i]['score'] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        <% } else { %>
          <p>No positive sentiments</p>
        <% } %>
        <!--  -->
        <!-- /Positive -->
        <!-- Negative -->
        <div class="row">
          <div class="col-xs-12">
            <h4>Negative</h4>
          </div>
        </div>
        <% if (call['sentiments']['negative'].length > 0) { %>
          <div class="row">
            <div class="col-xs-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Topic</th>
                    <th>Sentiment</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i<call['sentiments']['negative'].length; i++) { %>
                    <tr>
                      <td><%= call['sentiments']['negative'][i]['topic'] %></td>
                      <td><%= call['sentiments']['negative'][i]['sentiment'] %></td>
                      <td><%= call['sentiments']['negative'][i]['score'] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        <% } else { %>
          <p>No negative sentiments</p>
        <% } %>
        <!-- /Negative -->
      </div>
      <div class="tab-pane" id="concepts">
        <h4>Concepts</h4>
        <% if(call['concepts']['concepts'].length > 0) { %>
            <div class="row">
              <div class="col-xs-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Concept</th>
                      <th>Occurrences</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i=0; i<call['concepts']['concepts'].length; i++) { %>
                      <tr>
                        <td><%= call['concepts']['concepts'][i]['concept'] %></td>
                        <td><%= call['concepts']['concepts'][i]['occurrences'] %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
        <% } else { %>
          <p>No concepts</p>
        <% } %>
      </div>
    </div>
    <!-- End Tab content -->
  </div>
  <!-- End right side -->
</div>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>
</body>
