<!doctype html>
<html>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../js/d3.layout.cloud.js"></script>
<script type="text/javascript" src="../js/async.min.js"></script>
<head>
  <title>Contact Center Analytics</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="../js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/main.css"></style>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://havenondemand.com"><img alt="Brand" src="../img/hod-black.png" height="20"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">View all calls</a></li>
      <li><a href="/callcenter">Make a call</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
    </ul> -->
  </div>
</nav>

<div class="row">
  <div class="col-xs-12">
    <h2>Call by <%= call['From'] %> to <%= call['To'] %> on <%= call['created'].getMonth()+1 %>/<%= call['created'].getDate()%>/<%= call['created'].getFullYear() %> at <%= call['created'].getHours() %>:<%= call['created'].getSeconds() %></h2>
  </div>
</div>
<div class="row">
  <!-- Left side -->
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <h2>Call content</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <p class="transcription-text"><%= call['TranscriptionText'] %></p>
          <p class="confidence">Transcription confidence: <%= Math.floor(call['confidence']) %>%</p>
          <p class="language">Language: <%= language %></p>
          <audio controls>
            <source src=<%= call['RecordingUrl'] %> type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </div>
  <!-- End left side -->
  <!-- Right side -->
  <div class="col-xs-6">
    <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
      <li class="active"><a href="#sentiments" data-toggle="tab">Sentiments</a></li>
      <li><a href="#concepts" data-toggle="tab">Concepts</a></li>
    </ul>
    <!-- Tab content -->
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="sentiments">
        <!-- Aggregate -->
        <div class="row">
          <div class="col-xs-12">
            <h4>Aggregate</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <table class="table">
                <thead>
                  <tr>
                    <th>Score</th>
                    <th>Sentiment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= call['sentiments']['aggregate']['score'] %></td>
                    <td><%= call['sentiments']['aggregate']['sentiment'] %></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <!-- /Aggregate -->
        <!-- Positive -->
        <div class="row">
          <div class="col-xs-12">
            <h4>Positive</h4>
          </div>
        </div>
        <% if (call['sentiments']['positive'].length > 0) { %>
          <div class="row">
            <div class="col-xs-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Topic</th>
                    <th>Sentiment</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i<call['sentiments']['positive'].length; i++) { %>
                    <tr>
                      <td><%= call['sentiments']['positive'][i]['topic'] %></td>
                      <td><%= call['sentiments']['positive'][i]['sentiment'] %></td>
                      <td><%= call['sentiments']['positive'][i]['score'] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        <% } else { %>
          <p>No positive sentiments</p>
        <% } %>
        <!--  -->
        <!-- /Positive -->
        <!-- Negative -->
        <div class="row">
          <div class="col-xs-12">
            <h4>Negative</h4>
          </div>
        </div>
        <% if (call['sentiments']['negative'].length > 0) { %>
          <div class="row">
            <div class="col-xs-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Topic</th>
                    <th>Sentiment</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i=0; i<call['sentiments']['negative'].length; i++) { %>
                    <tr>
                      <td><%= call['sentiments']['negative'][i]['topic'] %></td>
                      <td><%= call['sentiments']['negative'][i]['sentiment'] %></td>
                      <td><%= call['sentiments']['negative'][i]['score'] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        <% } else { %>
          <p>No negative sentiments</p>
        <% } %>
        <!-- /Negative -->
      </div>
      <div class="tab-pane" id="concepts">
        <h4>Concepts</h4>
        <div class="col">
          <div class="row">
            <div class="wordcloud"/>
          </div>
        </div>
        <% if(call['concepts']['concepts'].length > 0) { %>
            <div class="row">
              <div class="col-xs-12">
                <table class="table" id="concepts-table">
                  <thead>
                    <tr>
                      <th>Concept</th>
                      <th>Occurrences</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i=0; i<call['concepts']['concepts'].length; i++) { %>
                      <tr>
                        <td><%= call['concepts']['concepts'][i]['concept'] %></td>
                        <td><%= call['concepts']['concepts'][i]['occurrences'] %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
        <% } else { %>
          <p>No concepts</p>
        <% } %>
      </div>
    </div>
    <!-- End Tab content -->
  </div>
  <!-- End right side -->
</div>
<script type="text/javascript">
    $(document).ready(function ($) {
        $('#tabs').tab();
    });

    $(window).load(function() {
      var fontConstant=14;
      var counter = 0;
      var frequencyList = [];
      var rows = document.getElementById("concepts-table").rows;
      async.each(rows, function(row, c) {
        if (counter > 0) {
          var text = row.children[0].innerText;
          var size = row.children[1].innerText;
          frequencyList.push({"text": text, "size": size});
        }
        counter += 1;
        if (counter >= rows.length) {
          generateWordCloud(frequencyList);
        }
      }, function(err) {

      })
      //
      function generateWordCloud(frequency_list) {
        // var frequency_list = [{"text":"study","size":40},{"text":"motion","size":15},{"text":"forces","size":10},{"text":"electricity","size":15},{"text":"movement","size":10},{"text":"relation","size":5},{"text":"things","size":10},{"text":"force","size":5},{"text":"ad","size":5},{"text":"energy","size":85},{"text":"living","size":5},{"text":"nonliving","size":5},{"text":"laws","size":15},{"text":"speed","size":45},{"text":"velocity","size":30},{"text":"define","size":5},{"text":"constraints","size":5},{"text":"universe","size":10},{"text":"physics","size":120},{"text":"describing","size":5},{"text":"matter","size":90},{"text":"physics-the","size":5},{"text":"world","size":10},{"text":"works","size":10},{"text":"science","size":70},{"text":"interactions","size":30},{"text":"studies","size":5},{"text":"properties","size":45},{"text":"nature","size":40},{"text":"branch","size":30},{"text":"concerned","size":25},{"text":"source","size":40},{"text":"google","size":10},{"text":"defintions","size":5},{"text":"two","size":15},{"text":"grouped","size":15},{"text":"traditional","size":15},{"text":"fields","size":15},{"text":"acoustics","size":15},{"text":"optics","size":15},{"text":"mechanics","size":20},{"text":"thermodynamics","size":15},{"text":"electromagnetism","size":15},{"text":"modern","size":15},{"text":"extensions","size":15},{"text":"thefreedictionary","size":15},{"text":"interaction","size":15},{"text":"org","size":25},{"text":"answers","size":5},{"text":"natural","size":15},{"text":"objects","size":5},{"text":"treats","size":10},{"text":"acting","size":5},{"text":"department","size":5},{"text":"gravitation","size":5},{"text":"heat","size":10},{"text":"light","size":10},{"text":"magnetism","size":10},{"text":"modify","size":5},{"text":"general","size":10},{"text":"bodies","size":5},{"text":"philosophy","size":5},{"text":"brainyquote","size":5},{"text":"words","size":5},{"text":"ph","size":5},{"text":"html","size":5},{"text":"lrl","size":5},{"text":"zgzmeylfwuy","size":5},{"text":"subject","size":5},{"text":"distinguished","size":5},{"text":"chemistry","size":5},{"text":"biology","size":5},{"text":"includes","size":5},{"text":"radiation","size":5},{"text":"sound","size":5},{"text":"structure","size":5},{"text":"atoms","size":5},{"text":"including","size":10},{"text":"atomic","size":10},{"text":"nuclear","size":10},{"text":"cryogenics","size":10},{"text":"solid-state","size":10},{"text":"particle","size":10},{"text":"plasma","size":10},{"text":"deals","size":5},{"text":"merriam-webster","size":5},{"text":"dictionary","size":10},{"text":"analysis","size":5},{"text":"conducted","size":5},{"text":"order","size":5},{"text":"understand","size":5},{"text":"behaves","size":5},{"text":"en","size":5},{"text":"wikipedia","size":5},{"text":"wiki","size":5},{"text":"physics-","size":5},{"text":"physical","size":5},{"text":"behaviour","size":5},{"text":"collinsdictionary","size":5},{"text":"english","size":5},{"text":"time","size":35},{"text":"distance","size":35},{"text":"wheels","size":5},{"text":"revelations","size":5},{"text":"minute","size":5},{"text":"acceleration","size":20},{"text":"torque","size":5},{"text":"wheel","size":5},{"text":"rotations","size":5},{"text":"resistance","size":5},{"text":"momentum","size":5},{"text":"measure","size":10},{"text":"direction","size":10},{"text":"car","size":5},{"text":"add","size":5},{"text":"traveled","size":5},{"text":"weight","size":5},{"text":"electrical","size":5},{"text":"power","size":5}];
        console.log(frequency_list);
        var color = d3.scale.linear()
                .domain([0,1,2,3,4,5,6,10,15,20,100])
                // .domain([100,200, 300, 400, 450, 500, 550, 600, 650, 700, 750])
                .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);
        var width = $( window ).width()/2;
        var height = $( window ).height()/2;

        d3.layout.cloud().size([800, 300])
                .words(frequency_list)
                .rotate(0)
                .fontSize(function(d) { return d.size; })
                .on("end", draw)
                .start();
        function draw(words) {
            d3.select('.wordcloud').append("svg")
                    .attr("width", width+50)
                    .attr("height", height+50)
                    .attr("class", "wordcloud")
                    .append("g")
                    // without the transform, words words would get cutoff to the left and top, they would
                    // appear outside of the SVG area
                    .attr("transform", "translate(320,200)")
                    .selectAll("text")
                    .data(words)
                    .enter().append("text")
                    .style("font-size", function(d) { return d.size*fontConstant + "px"; })
                    .style("fill", function(d, i) { return color(i); })
                    .attr("transform", function(d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
                  }
                }
      //
    })
</script>
</body>
