<!doctype html>
<html>
<head>
  <title>Contact Center Analytics</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css"></style>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://havenondemand.com"><img alt="Brand" src="img/hod-black.png" height="20"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">View all calls</a></li>
        <li><a href="/callcenter">Make a call</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
      </ul> -->
    </div>
  </nav>



<div class="row">
  <div class="col-xs-12">
    <h1>All your calls <A HREF="javascript:history.go(0)"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></A></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label for="search">Search</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form action="/search" method="POST">
      <div class="form-group">
        <input type="text" name="search" placeholder="I'm feeling great today!" id="search" class="search" required>
      </div>
      <button type="submit" class="btn btn-default" id="search">Search</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table" id="callTable">
      <thead>
        <tr>
          <th>Call</th>
          <th>Audio</th>
          <th>Download</th>
          <th>Language</th>
          <th>Find Similar</th>
          <th>Analyze</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<calls.length; i++) { %>
        <tr>
          <!-- Completed processed -->
          <% if (calls[i]['processed'] && calls[i]['processing'] && calls[i]['audio']) { %>
            <td><a href='call/<%= calls[i]['CallSid'] %>'>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></a></td>
            <td>
              <audio controls>
                <source src=<%= calls[i]['RecordingUrl'] %> type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            <td>
              <a href='<%= calls[i]['RecordingUrl'] %>' download ><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </td>
            </td>
            <td><%= calls[i]['language'] %></td>
            <td>
              <form action="/findSimilar" method="GET">
                  <input type="hidden" name="indexReference" value='<%= calls[i]['indexReference'] %>' >
                <button type="submit" class="btn btn-warning" id="findSimilar">Find Similar</button>
              </form>
            </td>
            <td><button type="submit" class="btn btn-success" id='<%= calls[i]['CallSid'] %>' disabled="disabled">Processed</button></td>
          <!-- Currently processing -->
          <% } else if (!calls[i]['processed'] && calls[i]['processing'] && !calls[i]['error'] && calls[i]['audio']) { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td>
              <audio controls>
                <source src=<%= calls[i]['RecordingUrl'] %> type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </td>
            <td>
              <a href='<%= calls[i]['RecordingUrl'] %>' download ><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </td>
            <td><%= calls[i]['language'] %></td>
            <td><button type="submit" class="btn btn-warning" id='<%= calls[i]['indexReference'] %>' disabled="disabled">Find Similar</button></td>
            <td><button type="submit" class="btn btn-primary" id='<%= calls[i]['CallSid'] %>' disabled="disabled">Processing</button></td>
          <!-- Error while processing -->
          <% } else if (!calls[i]['processed'] && calls[i]['processing'] && calls[i]['error'] && calls[i]['audio']) { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td>
              <audio controls>
                <source src=<%= calls[i]['RecordingUrl'] %> type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </td>
            <td>
              <a href='<%= calls[i]['RecordingUrl'] %>' download ><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </td>
            <td><%= calls[i]['language'] %></td>
            <td><button type="submit" class="btn btn-warning" id='<%= calls[i]['indexReference'] %>' disabled="disabled">Find Similar</button></td>
            <td><button type="submit" class="btn btn-danger" id='<%= calls[i]['CallSid'] %>' disabled="disabled">Error processing</button></td>
          <!-- Obtained audio but have no processed -->
          <% } else if (!calls[i]['processed'] && !calls[i]['processing'] && calls[i]['audio']) { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td>
              <audio controls>
                <source src=<%= calls[i]['RecordingUrl'] %> type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </td>
            <td>
              <a href='<%= calls[i]['RecordingUrl'] %>' download ><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
            </td>
            <td>
              <select name="language" class='<%= calls[i]['CallSid'] %>'>
                <option value="en-US-tel">US English</option>
                <option value="en-GB-tel">British English</option>
                <option value="es-ES-tel">European Spanish</option>
                <option value="fr-FR-tel">French</option>
              </select>
            </td>
            <td><button type="submit" class="btn btn-warning" id='<%= calls[i]['indexReference'] %>' disabled="disabled">Find Similar</button></td>
            <td><button type="submit" class="btn btn-success" id='<%= calls[i]['CallSid'] %>' onclick='processCall(this)'>Process Call</button></td>
            <!-- Currenlty obtaining audio but not obtained yet -->
          <% } else if (calls[i]['obtainingAudio'] && !calls[i]['audio']) { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td>unavailable</td>
            <td>unavailable</td>
            <td>
              <select name="language" class='<%= calls[i]['CallSid'] %>' disabled="disabled">
                <option value="en-US-tel">US English</option>
                <option value="en-GB-tel">British English</option>
                <option value="es-ES-tel">European Spanish</option>
                <option value="fr-FR-tel">French</option>
              </select>
            </td>
            <td><button type="submit" class="btn btn-warning" id='<%= calls[i]['indexReference'] %>' disabled="disabled">Find Similar</button></td>
            <td><button type="submit" class="btn btn-success" id='<%= calls[i]['CallSid'] %>' onclick='obtainAudio(this)' disabled="disabled">Obtaining Audio</button></td>
          <!-- Have not obtained audio or processed -->
          <% } else { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td>unavailable</td>
            <td>unavailable</td>
            <td>
              <select name="language" class='<%= calls[i]['CallSid'] %>' disabled="disabled">
                <option value="en-US-tel">US English</option>
                <option value="en-GB-tel">British English</option>
                <option value="es-ES-tel">European Spanish</option>
                <option value="fr-FR-tel">French</option>
              </select>
            </td>
            <td><button type="submit" class="btn btn-warning" id='<%= calls[i]['indexReference'] %>' disabled="disabled">Find Similar</button></td>
            <td><button type="submit" class="btn btn-success" id='<%= calls[i]['CallSid'] %>' onclick='obtainAudio(this)'>Obtain Audio</button></td>
          <% } %>
        </tr>
      </tbody>
    <% } %>

<script>
function processCall(elem) {
  //disable button
  elem.disabled = "disabled"
  elem.innerText = "Processing"
  var CallSid = elem.id
  var language = document.getElementsByClassName(CallSid)[0].value;
  $.ajax({
    url: "/processCall?CallSid="+CallSid+"&language="+language,
    type: 'GET',
      success: function(res) {
        console.log(res);
      }
  });
}

function obtainAudio(elem) {
  //disable button
  elem.disabled = "disabled"
  elem.innerText = "Obtaining audio"
  var CallSid = elem.id
  var language = document.getElementsByClassName(CallSid)[0].value;
  $.ajax({
    url: "/obtainAudio?CallSid="+CallSid,
    type: 'GET',
      success: function(res) {
        console.log(res);
      }
  });
}

// function findSimilar(elem) {
//   //disable button
//   console.log(elem);
//   var indexReference = elem.id
//   $.ajax({
//     url: "/findSimilar?indexReference="+indexReference,
//     type: 'GET',
//       success: function(res) {
//         console.log(res);
//       }
//   });
// }

$(window).load(function() {

});
</script>
</body>
