<!doctype html>
<html>
<head>
  <title>Contact Center Analytics</title>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <script src="js/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css"></style>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://havenondemand.com"><img alt="Brand" src="img/hod-black.png" height="20"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">View all calls</a></li>
        <li><a href="/callcenter">Make a call</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
      </ul> -->
    </div>
  </nav>



<div class="row">
  <div class="col-xs-12">
    <h1>All your calls <A HREF="javascript:history.go(0)"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></A></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form action="/search" method="POST">
      <div class="form-group">
        <label for="search">Search</label>
        <input type="text" name="search" placeholder="I'm feeling great today!" id="search">
      </div>
      <button type="submit" class="btn btn-default" id="search">Search</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table" id="callTable">
      <thead>
        <tr>
          <th>Call</th>
          <th>Call SID</th>
          <th>Process</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i<calls.length; i++) { %>
        <tr>
          <!-- Completed processed -->
          <% if (calls[i]['processed'] && calls[i]['processing']) { %>
            <td><a href='call/<%= calls[i]['CallSid'] %>'>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></a></td>
            <td id='CallSid-<%= i %>'><%= calls[i]['CallSid'] %></td>
            <td><button type="submit" class="btn btn-success" id='<%= calls[i]['CallSid'] %>' disabled="disabled">Processed</button></td>
            <td><%= calls[i]['language'] %></td>
          <!-- Currently processing -->
          <% } else if (!calls[i]['processed'] && calls[i]['processing'] && !calls[i]['error']) { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td id='CallSid-<%= i %>'><%= calls[i]['CallSid'] %></td>
            <td><button type="submit" class="btn btn-primary" id='<%= calls[i]['CallSid'] %>' disabled="disabled">Processing</button></td>
            <td><%= calls[i]['language'] %></td>
          <!-- Error while processing -->
          <% } else if (!calls[i]['processed'] && calls[i]['processing'] && calls[i]['error']) { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td id='CallSid-<%= i %>'><%= calls[i]['CallSid'] %></td>
            <td><button type="submit" class="btn btn-danger" id='<%= calls[i]['CallSid'] %>' disabled="disabled">Error processing</button></td>
            <td><%= calls[i]['language'] %></td>
          <!-- Have not begun processing -->
          <% } else { %>
            <td>Call by <%= calls[i]['From'] %> to <%= calls[i]['To'] %> on <%= calls[i]['created'].getMonth()+1 %>/<%= calls[i]['created'].getDate()%>/<%= calls[i]['created'].getFullYear() %> at <%= calls[i]['created'].getHours() %>:<%= calls[i]['created'].getSeconds() %></td>
            <td id='CallSid-<%= i %>'><%= calls[i]['CallSid'] %></td>
            <td><button type="submit" class="btn btn-primary" id='<%= calls[i]['CallSid'] %>' onclick='processCall(this)'>Process</button></td>
            <td>
              <select name="language" class='<%= calls[i]['CallSid'] %>'>
                <option value="en-US-tel">US English</option>
                <option value="en-GB-tel">British English</option>
                <option value="es-ES-tel">European Spanish</option>
                <option value="fr-FR-tel">French</option>
              </select>
            </td>
          <% } %>
          <td></td>
        </tr>
      </tbody>
    <% } %>

<script>
function processCall(elem) {
  //disable button
  elem.disabled = "disabled"
  elem.innerText = "Processing"
  var CallSid = elem.id
  var language = document.getElementsByClassName(CallSid)[0].value;
  $.ajax({
    url: "/processCall?CallSid="+CallSid+"&language="+language,
    type: 'GET',
      success: function(res) {
        console.log(res);
      }
  });
}

$(window).load(function() {

});
</script>
</body>
